.container {
    width: 80%;
    margin-bottom: 5rem;
}

.data-container {
    display: grid;
    grid-template-columns: 15rem 1rem auto;
}

.btn {
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    margin: 2rem 2rem 0 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: bold;
    width: 15rem;
}

.btn:disabled {
    background-color: grey;
    cursor: auto;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.note-input {
    font-size: 1rem;
    margin-top: 2rem;
}