:root {
  --primary-color: #00b388;
  --light-text: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
